body {
	font-family: sans-serif;
	text-align: center;

	background-color: rgb(44, 34, 23);
	color: rgb(32, 196, 196);
	padding: 1em;
}
a {
	color: rgb(32, 196, 196);
}
.invalid-feedback {
	color: red;
}
.error {
	color: red;
}